services:
  rocm:
    build: .
    volumes:
      - XXX:/app
      - YYY:/datasets
      - ZZZ:/cache
    devices:
      - "/dev/kfd"
      - "/dev/dri"
    shm_size: 16G
    ipc: host
    ports:
      - 7860:7860
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined
    group_add:
      - video
    environment:
      - TRANSFORMERS_CACHE=/cache
      - HUGGING_FACE_HUB_TOKEN=ZZZ
